pkgbase = oxen-bin
	pkgdesc = Oxen CLI. Oxen is a lightning fast data version control system for structured and unstructured machine learning datasets.
	pkgver = 0.26.0
	pkgrel = 1
	url = https://www.oxen.ai/
	arch = x86_64
	license = Apache-2.0
	source = https://github.com/Oxen-AI/Oxen/releases/download/v0.26.0/oxen-ubuntu-latest.deb
	sha256sums = b2243470a96b4ca6f7e48219ac024287ac51d95325ba68128e904ec646729813

pkgname = oxen-bin
